.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
DataDig.R
/Users/danekorver/Documents/Fall2024 ST558/ST558-Project2/NFL Play by Play 2009-2018 (v5).csv
/Users/danekorver/Documents/Fall2024 ST558/ST558-Project2/nfl_plays.rds
